/**
 * CSS to embedd a map
 *
 *
 * @author     John Etherton <john@ethertontech.com>
 * @package    Enhanced Map, Ushahidi Plugin - https://github.com/jetherton/enhancedmap
 */
@CHARSET "UTF-8";

div#adminmap_map_embedd{
		background-color: #E1E1E1;
		color:#333;
		padding:2px;
		border: solid 1px #999;
	}
	
div#adminmap_map_embedd input{

		color:#333;		
		width: 99%;		
	}