/**
 * CSS for admin map
 *
 *
 * @author     John Etherton <john@ethertontech.com>
 * @package    Enhanced Map, Ushahidi Plugin - https://github.com/jetherton/enhancedmap
 */

div.big_wrapper{
	background-color:white;
}


/*stuff john added*/

.bg{
	padding-bottom: 10px;
}
#bar{
	height: 10px;
	background-color: #dddddd;
}

div.slider-holder fieldset{
	padding-bottom: 37px;
	padding-left: 20px;
	padding-right: 20px;
	
}


/*right column*/
div#right{
	width:250px;
	float:right;
}

#mapcontent{
	width:auto;
	overflow: visible;
	clear: none;
	background: #ffffff;
	margin-right: 250px;
	
}



/* filters */
div.filters{
    font-size: 85%;
    margin: 5px 0 15px;
}

div.filters strong{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/filters-bg.jpg) 100% 3px no-repeat;
    padding: 0 15px 0 0;
}

div.filters ul{
    list-style: none;
	margin-left: 0px;
}

div.filters li{
    float: left;
    display: block;
    margin-right: 10px;
}

div.filters ul li a{
    color: #999966;
    padding: 0px 5px;
    text-decoration: none;
}

div.filters ul li a:hover, div.filters ul li a.active{
    color: #FFFFFF;
    padding: 0px 5px;
    background: #3399CC;
    text-decoration: none;
}

a.share{
    float: left;
		border-right: 1px solid #999;
		margin-top:7px;
		padding:5px 25px 5px 5px;
    background: url(../images/share.jpg) no-repeat center;
    text-indent:-2000px;
    width:125px;
    height: 18px;
}

/* map */
div.map {
    border: #999 1px solid;
    height: 500px;
    position:relative;
}
#mapStatus
{
	float: left;
	background-color: #e1e1e1;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 10px;
	width: 99%;
}
#mapStatus div
{
	float: left;
	display: inline-block;
	padding: 4px 6px 4px 6px;
}
#mapOutput sup
{
	height: 0;
	line-height: 1;
	vertical-align: text-top;
	_vertical-align: text-top;
	position: relative;
	font-size: 8px;
}


div.graph-holder {
    height:150px;
    overflow:hidden;
    width:600px;
    position:relative;
}

div.slider-holder {
    font-size:70%;
    height:70px;
    margin-top:15px;
    width: 600px;
    padding-left: 11px;
}

div.slider-holder label{
    color: #666666;
}

/*Status filtes*/
div.stat-filters{
    font-size: 85%;    
    margin: 0 0 15px 0;
}


ul.status-filters{
    background: #E7E3DA;
    border-top: #C7C2BC 7px solid;
    border-bottom: #C7C2BC 7px solid;
    list-style: none;
    padding: 12px 15px;
	margin-left: 0px;
	margin-top: 0px;

}

ul.status-filters li{
    padding: 0;
    margin-bottom: 4px;
list-style-type:none;
}

ul.status-filters li a{
    display: block;
    padding-top:1px;
    padding-bottom:1px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #3F3F3F;
    border: #E7E3DA 1px solid;
    position: relative;
    overflow: hidden;
}

ul.status-filters li a.active{
    color: #FFFFFF;
    background-color: #3484AC;
    border: #3484AC 1px solid;
}

ul.status-filters li a:hover{
    color: #FFFFFF;
    background-color: #c7c3DA;
    border: #3484AC 1px solid;
}

ul.status-filters li a.active:hover {
    color: #FFFFFF;
    background-color: #34c4DC;
    border: #3484AC 1px solid;
}



/* category filters */
div.cat-filters{
    font-size: 85%;
    margin: 0 0 0px 0;
}

div.cat-filters strong{
    
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
}

div.cat-filters span{
	font-weight:normal;
	font-size:90%;
	margin-left:5px;
	color:#666;
	letter-spacing:2px;
}
div.cat-filters span a{
	color:#666;
}

ul.category-filters{
    background: #E7E3DA;
    border-top: #C7C2BC 7px solid;
    border-bottom: #C7C2BC 7px solid;
    list-style: none;
    padding: 12px 15px;
	margin-top:0px;
	margin-left:0px;
	overflow:auto;
	height: 250px;
	position:relative;
}

ul.category-filters li{
    padding: 0;
    margin-bottom: 2px;
	list-style-type:none;
}

ul.category-filters li a{
    display: block;
    padding: 8px 10px 8px 5px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #3F3F3F;
    border: #E7E3DA 1px solid;
    position: relative;
    line-height: 15px;
    overflow: hidden;
}


ul.category-filters li a.active{
    color: #FFFFFF;
    background-color: #3484AC;
    border: #3484AC 1px solid;
}

ul.category-filters li a:hover{
    color: #FFFFFF;
    background-color: #c7c3DA;
    border: #3484AC 1px solid;
}

ul.category-filters li a.active:hover {
    color: #FFFFFF;
    background-color: #34c4DC;
    border: #3484AC 1px solid;
}


ul.category-filters li.child{
	display:none;
}

/* media files */
.report-map .map-holder {
	overflow:hidden;
	clear:both;
	width:428px;
	height:370px;
}


.more{
    float: right;
    margin: 20px 20px 10px 10px;
    color: #004276;
    font-weight: bold;
    text-decoration: underline;
}

.swatch {
    float:left;
    height:16px;
    margin-right: 8px;
    width:16px;
    border:1px solid white;
    background-image:url(../images/circle.png);
}

.category-title {
    padding-left: 24px;
}


/*-----UI Slider CSS-----*/
.ui-slider {clear: both; top: 5px;}
.ui-slider  {
	text-decoration: none !important;
}
.ui-slider .ui-slider-handle  {
	overflow: visible !important;
}
.ui-slider .ui-slider-tooltip {
	display: none;
}
.ui-slider .screenReaderContext {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	left: -999999999px;
}
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
	display: block;
	position: absolute;
	bottom: 2.5em;
	text-align: center;
	padding: .3em .2em .4em;
	font-size: .9em;
	width: 8em;
	margin-left: -3.7em;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	position: absolute; 
	display: block;
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {	
	border-left: 7px dashed transparent; 
	border-right: 7px dashed transparent;
	border-top-width: 8px;
	bottom:	-8px;
	right: auto;
	left: 50%;
	margin-left: -7px;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	border-left: 6px dashed transparent; 
	border-right: 6px dashed transparent;
	border-top: 7px solid #fff;
	bottom:	auto;
	top: -9px;
	left: -6px;
}
.ui-slider a {
	text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
	margin-top: 20px;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider span.ui-slider-label {
	position: absolute;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .8em;
	top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 0;
	border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}

.slider-holder .play{
	float:right;
	border:1px solid #ccc;
	background-color:#eee;
	padding:3px 6px 3px 15px;
	color:#666;
	font-weight:bold;
	background-position:5px 50%;
	background-repeat:no-repeat;
	font-size:1.2em;
}
.slider-holder .pause{
	background-image:url(../images/pause.gif);
}
.slider-holder .play a{
	color:#666;
	text-decoration:none;
}
.slider-holder .play:hover{
	background-color:#ffffcc;
}
.slider-holder .play a:hover{
	text-decoration:underline;
}

div.layer-filters_header{
	margin-bottom:0px;
}

ul.status-filters, ul.boolean-filters{
	height:auto;
}


a.alphabetize_link{
	padding:3px;
	
}
a.alphabetize_link.active{
	color:white;
	background:blue;
}
.olControlScaleLine{
	left:80px;
}