/* To make things look right when printing*/

#title{
	display: none;
	}

#printpage{

	margin: 0px;
	position: absolute;
}

#controls
{
	display: none;
}

#mainmenu{
	display: none;
}


.olControlPanZoomBar{
	display: none;
}

#mapStatus{
	display:none;
}

.maximizeDiv{
	display:none;
}